<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href=" ">Professional</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href=" ">Personal</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href=" ">Social</a></h2>
  </li>
  <h2>To add a gif and text please click on: </h2>
  <input type="file" (change)= "onFileSelected($event)">
  <button type="button" (click)="onUpload()">Upload</button>
</ul>

